



#banner {
    background-image: linear-gradient(to top, rgba(192, 192, 192, 0.8), rgba(91, 94, 112, 0.8)), url("../../images/white-bg.jpg");
    background-size: auto,cover;
			background-position: center,
 0% 30%;
			margin-bottom: -6.5em;
}


#spin{
    animation: spin 6s linear infinite;
}

#breathe{
    animation-name: breathe;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


@keyframes breathe {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

  