



#banner {
    background-image: linear-gradient(to top, rgba(192, 192, 192, 0.8), rgba(91, 94, 112, 0.8)), url("../../images/white-bg.jpg");
    background-size: auto,cover;
			background-position: center,
 0% 30%;
			margin-bottom: -6.5em;
}